<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.fr" version="6.2.0" targetFramework="net45" />
  <package id="Eramake.eCryptography" version="1.1.6" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Syncfusion.Grid.WPF" version="17.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.GridCommon.Wpf" version="17.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="17.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Linq.Base" version="17.2.0.36" targetFramework="net45" />
  <package id="Syncfusion.Shared.WPF" version="17.2.0.36" targetFramework="net45" />
</packages>